@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #181818;
  --color-gold-light: #D4AF37;
  --color-gold-dark: #AA8C2C;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-200;
    background-color: rgb(24, 24, 24);
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Audiowide', sans-serif;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}

@layer utilities {
  .gradient-gold {
    background: linear-gradient(135deg, #59d0ff, #0082ff);
  }

  .text-gradient-blue {
    background: linear-gradient(135deg, #59d0ff, #0082ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .accent-gold {
    color: #59d0ff;
  }
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-contact {
  background-image: url("/impact.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}